# top-most EditorConfig file
root = true

# We omit end_of_line settings, because they conflict with git's autocrlf setting,
# which we typically have enabled on our workstations.
# It seems that by leaving end_of_line unspecified, the reformatter will leave it as-is,
# which is what we want.

[*]
#end_of_line = lf
insert_final_newline = true

[*.{ts,json,js,vue}]
#end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = tab
indent_size = 4
tab_width = 4
